<!-- templates/index.html -->
<html>
  <head>  
      <title>A Fresh Start</title>
      <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
  </head>
  <body>
  <!--I put all the javascript in index.js-->
      <h1>A Fresh Start</h1>
      <div id="Welcome" class="default-display">
        <h2> Welcome to A Fresh Start</h2>
        <h2>Let us find the best location for you after graduation<br><br>Just press Start to begin</h2>
      </div>
      <form id="Questions" name="Questions" onSubmit = "myFunction()" method="POST">
        <div id="Degree-Choice" name="Degree-Choice" class="Degree-Choice default-display">
          <h3> Which category best suits you bachelor's degree? </h3>
          <div class="Choices1">
            <input type = "radio" id= "Cyber Security" name = "Major" value= "Cyber Security"> 
            <label for=" Cyber Security">Cyber Security</label> <br>

            <input type = "radio" id= "Software Engineering" name = "Major" value= "Software Engineering"> 
            <label for=" Software Engineering">Software Engineering</label> <br>

            <input type = "radio" id= "Psychology" name = "Major" value= "Psychology"> 
            <label for=" Psychology">Psychology</label> <br>

            <input type = "radio" id= "Finance (Analyst)" name = "Major" value= "Finance (Analyst)"> 
            <label for=" Finance (Analyst)">Finance (Analyst)</label> <br>

            <input type = "radio" id= "Biomedical Engineering" name = "Major" value= "Biomedical Engineering"> 
            <label for="Biomedical Engineering">Biomedical Engineering</label> <br><br><br>
            
            <a href="/NOTA" id="NOTA" style="display: block;">My field is not listed</a>
          </div>
        </div>
        <div id="Location-Choice" name="Location-Choice" class="Location-Choice default-display">
          <h3> Are you located in the U.S.? </h3>
          <div class="Choices2">
            <input type = "radio" id= "Location" name = "Location" value= "Yes"> 
            <label for=" Location">Yes</label> <br>   
              
            <input type = "radio" id= "Location" name = "Location" value= "No"> 
            <label for=" Location">No</label> <br> 
          </div>
        </div>
      </form>
      <input type="button" id="Next-Button" class="button" value="Start" name="Next-Button" onClick="nextAndBack()" style="display: inline-block;">
      <br><br><br>
      <button type="button" id="Submit-Button" class="button" name="Submit-Button" style="display: none;" onClick="getData()">Submit</button>
      <!--the suggested places the user should move to will go in this div-->
      <div id="Location-Response" class="Location-Response">
        <!--index.js getData() fills in this div-->
      </div>
  </body>
</html>