<!-- templates/index.html -->
<html>
  <head>  
      <title>Fresh Start</title>
      <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
  </head>
  <body>
  <!--I put all the javascript in index.js-->
      <h1> <center>Fresh Start </center> </h1>
      <form name="question" onSubmit = "myFunction()">
          <div id="Degree-Choice" name="Degree-Choice" class="Degree-Choice">
            <p> Which category best suits you bachelor's degree? </p>

            <input type = "radio" id= "Business" name = "major" value= "Miami, Florida"> 
            <label for=" Business">Business</label> <br>

            <input type = "radio" id= "Psychology" name = "major" value= "Dallas, Texas"> 
            <label for=" Psychology">Psychology</label> <br>

            <input type = "radio" id= "Health Professions" name = "major" value= "Alanta, Georgia"> 
            <label for=" Health Professions">Health Professions</label> <br>

            <input type = "radio" id= "Social Sciences / History" name = "major" value= "Boston, Massachusetts"> 
            <label for=" Social Sciences / History">Social Sciences / History</label> <br>

            <input type = "radio" id= "Biological and Biomedical Science" name = "major" value= "Seattle, Washington"> 
            <label for=" Biological and Biomedical Science">Biological and Biomedical Sciences</label> <br>
            
          </div>
          <div id="Location-Choice" name="Location-Choice" class="Location-Choice">
            <p> Are you located in the U.S.? </p>

            <input type = "radio" id= "Location" name = "Loaction" value= "Yes"> 
            <label for=" Location">Yes</label> <br>   
            
            <input type = "radio" id= "Location" name = "Loaction" value= "No"> 
            <label for=" Location">No</label> <br> 

          </div>
          <!--press the next button to see the next question-->
          <input type = "button" id="Next-Button" value= "Next" name = "Next-Button" onClick="nextAndBack()" style="display: inline-block;">
          <input type = "button" id="Submit-Button" value= "Submit" name = "Submit-Button" onClick="" style="display: none;">
                    
          <!--this redirects the user to a page where they will submit their email along with their major-->
          <a href="/NOTA" id="NOTA" style="display: block;">My field is not listed</a>
      </form>

  </body>
</html>